$first-color: #08A6E4;
$second-color: #000000;
$third-color: #FB3B64;
$fourth-color: #55DFB4;
$fifth-color: #EB476E;
$sixth-color: #07ACE6;
$seventh-color: #FFFFFF;
$eighth-color: #A5A5A5;
$ninth-color: #F7F7F7;
$tenth-color: #95989A;
$eleventh-color: #707070;
$first-font: 'Raleway';
$second-font: 'Open Sans'