.newsletterModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include fontFamily($first-font, "Arial", sans-serif);
    @include fontSize(1.5rem, 700);
    text-align: center;
    top: 20%;
    left: 15%;
    padding-top: 20%;
    position:fixed; 
    background-color: $first-color;
    color: $seventh-color;
    width: 70%;
    height: 15em;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in, visibility 0.25s 0.25s;
    z-index: 5;

    & p {
        margin-bottom: 1.667em;

        @include desktop(){
            margin-bottom: 1.029em;
        }
    }

    @include min440(){
        padding-top: 3.967em;
      }


    @include desktop(){
        @include fontSize(3.063rem, 700);
        padding-top: 2.306em;
        height: 9.2em;
      }

}
.formSubscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputSuscribe{
    width: 50%;
    border: none;
    background-color:$first-color;
    color: white;
    border-bottom: 1px solid $seventh-color;
    margin-bottom: 3.125em;

    @include desktop(){
        @include fontSize(1.5rem, 400);
        margin-bottom: 2.083em;
        width: 80%;
      }
}


.btnSuscribe {
    @include padding(1.375em, 4em);
    @include shadow(5px, 10px, 14px, 0px, rgba(255, 255, 255, 0.29));
    @include fontFamily($second-font, "Arial", sans-serif);
    @include fontSize(1rem, 700);
    background-color: $seventh-color;
    color: $first-color;
    border-radius: 2.5rem;
    border-style: none;


}
.btnClosed {
    position: fixed;
    top: 23%;
    right: 20%;
    @include fontFamily($second-font, "Arial", sans-serif);
    @include fontSize(2rem, 700);
    color: $seventh-color;
    background-color: $first-color;
    border-style: none;
}
.invalid{
    border-bottom: 1px solid red;
  }   