.newsletterModal{
    flex-direction: column;
    @include fontFamily($first-font, "Arial", sans-serif);
    @include fontSize(2.1875rem, 700);
    text-align: center;
    top: 33%;
    left: 15%;
    padding-top: 20%;
    padding-bottom: 20%;
    position:fixed; 
    background-color: $first-color;
    color: $seventh-color;
    width: 70%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-in, visibility 0.25s 0.25s;
    z-index: 5;

    @include min440(){
        padding-top: 3.41em;
        padding-bottom: 3.41em;
      }


    @include desktop(){
        @include fontSize(3.0625rem, 700);
        padding-top: 2.44em;
        padding-bottom: 2.44em;
      }

}
.btnSuscribe {
    margin-top:50px;
    @include padding(1.375em, 4em);
    @include shadow(5px, 10px, 14px, 0px, rgba(255, 255, 255, 0.29));
    @include fontFamily($second-font, "Arial", sans-serif);
    @include fontSize(1rem, 700);
    background-color: $seventh-color;
    color: $first-color;
    border-radius: 2.5rem;
    border-style: none;
}
.btnClosed {
    position: fixed;
    top: 35%;
    right: 20%;
    @include fontFamily($second-font, "Arial", sans-serif);
    @include fontSize(2rem, 700);
    color: $seventh-color;
    background-color: $first-color;
    border-style: none;
}