#slider{
    width: 80%;
    margin: 0 auto;
    background-color: $second-color;
    max-width: 36.625em;
    position: relative;
    margin-top: 3.125em;
    padding-top: 3.75em;
    padding-bottom: 0.6em;

}
#slider img{
    display: none;
}
.btnSlider{
    display: flex;
    position: absolute;
    bottom: 45%;
    right: 2%;
    left: 2%;
    justify-content: space-between;


    & button {
    background-color: $second-color;
    color: $eighth-color;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 1.25em;
    border: 3px solid $eighth-color;
    }
}
.divCircle {
    display: flex;
    justify-content: center;
    padding-top: 3.125em;

     & div {
        width: 0.6em;
        height: 0.6em;
        background-color: $eighth-color;
        border-radius: 50%; /* Hace que el elemento sea un círculo */
        margin: 0 0.6em; /* Centra el círculo horizontalmente */
     }
}

